:root {
    /* Font sizes */
    --step--1: clamp(0.83rem, calc(0.77rem + 0.33vw), 1.00rem);
    --step-0: clamp(1.00rem, calc(0.90rem + 0.49vw), 1.25rem);
    --step-1: clamp(1.20rem, calc(1.06rem + 0.71vw), 1.56rem);
    --step-2: clamp(1.44rem, calc(1.24rem + 1.00vw), 1.95rem);
    --step-3: clamp(1.73rem, calc(1.45rem + 1.39vw), 2.44rem);

    /* Spaces */
    --space-3xs: clamp(0.25rem, calc(0.23rem + 0.12vw), 0.31rem);
    --space-s: clamp(1.00rem, calc(0.90rem + 0.49vw), 1.25rem);
    --space-m: clamp(1.50rem, calc(1.35rem + 0.73vw), 1.88rem);
    --space-l: clamp(2.00rem, calc(1.80rem + 0.98vw), 2.50rem);

    /* One-up pairs */
    --space-2xs-xs: clamp(0.50rem, calc(0.33rem + 0.85vw), 0.94rem);

    /* Colors */
    --color-bg-contrast: #fdfdfd;
    --color-bg: #fefefe;
    --color-font: #333;
    --color-primary: #BC8B29;
    --color-secondary: #549E9E;
}

body {
    background: var(--color-bg);
    color: var(--color-font);
    column-gap: var(--space-2xs-xs);
    display: grid;
	font-family: Verdana, Tahoma, Geneva, Arial, Helvetica, sans-serif;
    font-size: var(--step-0);
    grid-template-columns: 30ch auto;
    line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-primary);
    font-weight: 300;
}

h1 {
    font-size: var(--step-3);
    margin: var(--space-l) 0 0;
}

h2 {
    font-size: var(--step-2);
    margin: var(--space-m) 0 0;
}

h3, h4, h5, h6 {
    font-size: var(--step-1);
    margin: var(--space-s) 0 0;
}

article {
    justify-self: center;
    max-width: 70ch;
    min-width: 40ch;
    width: 100%;
}

p,
ul {
    margin: var(--space-s) 0;
}

nav {
    background: var(--color-bg-contrast);
    font-size: var(--step--1);
    max-height: 100vh;
    overflow: scroll;
    position: sticky;
    top: 0;
}

nav ul {
    list-style: none;
    margin: 0 0 var(--space-s);
    padding: 0;
}

nav a {
    color: inherit;
    text-decoration: none;
}

li > ul {
    margin: 0;
    padding: 0 0 0 var(--space-m);
}

li {
    margin: var(--space-3xs) 0 0 0;
}

a {
    color: var(--color-secondary);
}

.is-active {
    color: var(--color-primary);
    font-weight: 600;
}

blockquote {
    border-left: 0.5em var(--color-secondary) double;
    margin: 0 0 0 0.5em;
    padding: 0 0 0 0.5em;
}

thead {
    text-align: left;
}

tr {
    line-height: 1.4em;
}

.odd {
    background-color: #dfdfdf;
}

.important {
    color: red;
}

.green {
    color: green;
}

/* Syntax highlighting */

.kw {
    color: var(--color-primary) !important;
}

.er {
    color: var(--color-secondary) !important;
}

/* the following two font size changes are to visually avoid the whitespaces between spans in code blocks */

div.sourceCode {
    background: var(--color-bg-contrast);
    font-size: 0;
}

.sourceCode > span {
    font-size: var(--step-0);
}

.sourceCode {
    white-space: pre-wrap !important;
}

@media screen and (max-width: 1010px) {
    #TOC {
        display: none;
    }

    body {
        display: initial;
    }
}

img {
    max-width: 100%;
}
